ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin: 0px 5px;
}


#navbar {
	position: relative;
	text-align: right;
	padding: 10px 0px;
	margin: 10px 0px;
}

#googlepic {
	text-align: center;
	margin: 100px 0px 30px 0px;
	padding: 50px;
}

img {
	height: 100px;
	width: auto;
}

#search {
	text-align: center;
}

#search > input {
	margin: 20px 0px;
	width: 600px;
}

#buttons {
	text-align: center;
}

#buttons > div {
	display: inline-block;
	margin: 5px 5px;
}

#footer {
	height: 60px;
	width: auto;
	background-color: #DDDDDD;
}
